# .clang-format

BasedOnStyle: Google

IndentWidth: 4

PointerAlignment: Left

BreakBeforeBraces: Attach

BinPackParameters: true

ColumnLimit: 100

UseTab: Never

SpaceBeforeParens: ControlStatements

AllowShortLoopsOnASingleLine: true

SortIncludes: Never